body {
    background-color: beige;
    background-image: url("https://wallpapercave.com/wp/wp7147510.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: saddlebrown;
  }
  
  .intro {
      display: flex;
      justify-content: center;
      font-family: cursive;
  }
  
  p {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  a {
    color: white;
  }

  #posters {
    width: 465px; 
    display: block;
    margin-left: 848px;
    margin-right: auto;
  }

  .card {
    color: beige;
    width:200px;
    text-align:center;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  footer {   
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: saddlebrown;
 }

 #posters-too {
    width: 465px; 
    display: flex;
    flex-wrap: wrap;
 }